<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="cn.meshed.framework.test.aware.UserDao"/>

    <bean id="userService" class="cn.meshed.framework.test.aware.UserService">
        <property name="uid" value="001"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>